# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Local environment
.env

# Python cache & virtual env
__pycache__/
*.py[cod]
venv/
ENV/

# macOS system files
.DS_Store

# VS Code
.vscode/
